<div>  
    <% if(success && success.length){ %>
            <div class="flash-msg-box type-success">
                <div class="helpme">
                    <%= success %>
                </div>
            </div>
    <% } %>
    
    
    <% if(error && error.length){ %>
              <div class="flash-msg-box type-error">
                    <div class="helpme">
                        <%= error %>
                    </div>
              </div>
    <% } %>
</div>
